{% extends "base.html" %} {% block title %}Littering{% endblock %} {% block
content %}
<div class="container-corporate-outer">
  <div class="container container-corporate">
    <div class="section-heading">
      <h1>Littering</h1>
      <h6>Stop the litter, Save environment</h6>
    </div>
    <div class="section">
      <form action="{{ url_for('litter') }}" method="post">
        <input
          class="form-control"
          type="text"
          name="issue"
          id="issue"
          hidden
          value="littering"
        />
        <input
          class="form-control"
          type="date"
          name="dor"
          id="dor"
          hidden
          value="{{DOR}}"
        />
        <input
          class="form-control"
          type="text"
          name="tor"
          id="tor"
          hidden
          value="{{TOR}}"
        />
        <div class="form-group">
          <label for="address"><h1 class="loc">Location</h1></label>
          <input
            class="form-control mb-4"
            type="text"
            name="address"
            id="address"
            required
          />
        </div>
        <input
          class="form-submit dash-btn"
          type="submit"
          value="Report Littering"
        />
        <p class="msg mt-3">{{ msg }}</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
